
<html>
    <head>
        <title>¿DóndStá...?</title>
    </head>
    <body>
        <div>
            <h1>¿Dón-D Stá...?</h1>
            <h2>Que no lo encuentro</h2>
        </div>

  <!--      <div>
            <ul>
                <li>
                    <h2>
                        <a href="">Post #1</a>
                        <strong> - La magia de perder las cosas</strong>
                    </h2>
                    <em>published: 14.06.2014, 12:14</em>
                </li>
                <li>
                    <h2>
                        <a href="">Post #2</a>
                        <storng> - La magia de encontrar las cosas</storng>
                    </h2>
                    <em>published: 14.06.2014, 12:14</em>
                </li>
            </ul>
        </div>-->
<!--
        <div>
            {{ posts }}
        </div>
        <div>
            {% for post in posts %}
            {{ post }}
            {% endfor %}
        </div>
-->
        <div>
            {% for post in posts %}
                <div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>published: {{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>

    </body>

</html>

